/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 600px;
}

div.coordinates-container-scroll{
  overflow-y: scroll;
  max-height: 250px;
}

#coordinates-container-scroll2{
  overflow-y: scroll;
  max-height: 250px;
}

mat-toolbar{
  width: 100%
}

/*spacer used to format content in toolbar*/
.spacer {
  flex: 1 1 auto;
}

/*show pointer on hover of an icon*/
mat-icon {
  cursor: pointer;
}


/*CSS WORKAROUND for showing animations in tabs*/
div.mat-expansion-panel-content:not(.mat-expanded) {
  height: 0px !important;
  visibility: hidden !important;
}

.mat-expansion-panel-header  {
  height: 48px;
}
