<h1 mat-dialog-title> Change a direction </h1>
<div mat-dialog-content>
  <p>Modify the desired fields:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.addressStart" placeholder="Start address">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.addressEnd" placeholder="Destination address">
  </mat-form-field>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="returnCoordinate()">Ok</button>
</div>
