#page{
    width: 100%;
    background-color: silver;
}

#map{
    float: left;
    width: 45%;
    height: 450px;
    margin: 2.5%;
    background-color: #21a7e1;
}

#mapInput{
    float: right;
    width: 43%;
    margin: 2.5%;
    padding: 1%;
    background-color: silver;
}

#output{
    float: left;
    width: 93%;
    margin: 2.5%;
    padding: 1%;
    background-color: #7d7d7d;
}

.text{
    float: right;
    border-radius: 2px;
    margin-left: 10px;
}

#addMarker{
    width: 100px;
    height: 20px;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    bottom: 10px;
    right: 10px;
    margin: auto;
    margin-top: 10px;
}

#addMarker:hover{
    background-color: darkblue;
}

#coords {
    width: 500px;
    height: 40px;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    bottom: 10px;
    right: 10px;
    margin: auto;
    margin-top: 10px;
}
#coords:hover{
    background-color: darkblue;
}


#selected{
    float: right;
    width: 93%;
    margin: 2.5%;
    padding: 1%;
    background-color: #5cee00;
}


